

<div class="admin-dashboard">
  <h1>add shoes</h1>
 <form id="addShoeForm">
    <label for="brand">Brand:</label>
    <input type="text" id="brand" name="brand" required>
    
    <label for="size">Size:</label>
    <input type="number" id="size" name="size" required>
    
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" required>
  
    <label for="image_url">Image URL:</label>
    <input type="text" id="image_url" name="image_url">
    
    <button type="submit">Add Shoe</button>
  </form>
  
</div>
