<div class="admin-dashboard">
  <h1>Add Shoes</h1>
  <form id="addShoeForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    
    <div class="form-group">
      <label for="brand">Brand:</label>
      <input type="text" id="brand" name="brand" required>
    </div>
    
    <div class="form-group">
      <label for="size">Size:</label>
      <input type="number" id="size" name="size" required>
    </div>

    <div class="form-group">
      <label for="color">Color:</label>
      <input type="text" id="color" name="color" required>
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" required>
    </div>

    <div class="form-group">
      <label for="in_stock">In Stock:</label>
      <input type="number" id="in_stock" name="in_stock" required>
    </div>

    <div class="form-group">
      <label for="image_url">Image URL:</label>
      <input type="text" id="image_url" name="image_url" required>
    </div>
    
    <button type="submit" class="submit-button">Add Shoe</button>
   

  </form>
</div>
