

/* header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px black solid;
}

.search_bar {
    padding: 1em 0.5em;
}

.logo_img {
    width: 200px;
}

.cart_img {
    width: 30px;
    height: 30px;
}

.cart_container {
    display: flex;
    align-items: center;
}