

/* header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px black solid;
}

.search_bar {
    padding: 1em 0.5em;
}

.logo_img {
    width: 200px;
}

.cart_img {
    width: 30px;
    height: 30px;
}

.cart_container {
    display: flex;
    align-items: center;
}

/* sign-login  */

.login_container {
    display: flex;
    align-items: center;
}


.auth_container button {
    font-size: 16px;
    padding: 0.5em 0.8em;
    margin-right: 0.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    text-decoration: underline;  /* Underline text */
   
  }
  
  /* Specific styles for each button */
  #loginButton {
    background-color: white;
    color: rgb(43, 41, 41);
  }
  
  #signupButton {
    background-color: white;
    color: rgb(42, 42, 42);
  }
  
  /* Hover effects */
  .auth_container button:hover {
    box-shadow: 0px 4px 6px rgba(145, 145, 145, 0.2);  /* Darker box shadow */
    background-color: #ddd;
    color: black;
  }
  
  

  /* signup */

  /* Style for Signup Form */

.signup-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  