

body {
  font-family: 'Quicksand', sans-serif;
font-family: 'Simonetta', cursive;
font-size: 0.8rem;
}

/* header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px black solid;
}

.search_bar {
    padding: 1em 0.5em;
}

.logo_img {
    width: 200px;
}

.cart_img {
    width: 30px;
    height: 30px;
}

.cart_container {
    display: flex;
    align-items: center;
}


.button_container {
  display: flex;
  justify-content: space-around;
  
}

/* sign-login  */

.login_container {
    display: flex;
    align-items: center;
}

.auth_container {
  display: flex;
}

.auth_container button {
    font-size: 16px;
    padding: 0.5em 0.8em;
    margin-right: 0.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    text-decoration: underline;  /* Underline text */
   
  }
  
  /* Specific styles for each button */
  #loginButton {
    background-color: white;
    color: rgb(43, 41, 41);
  }
  
  #signupButton {
    background-color: white;
    color: rgb(42, 42, 42);
  }
  
  /* Hover effects */
  .auth_container button:hover {
    box-shadow: 0px 4px 6px rgba(145, 145, 145, 0.2);  /* Darker box shadow */
    background-color: #ddd;
    color: black;
  }
  
  

  /* signup */

  

/* Give the container a more unique look */
.login-container,
.signup-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flex_login_container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.login-container h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 
}


button:hover {
  background-color: #0056b3;
}

.login_button {
  display: flex;
  justify-content: center;
}

.auth_container span,
.auth_container button {
  margin-right: 20px; /* Adjust the value as needed */
}

#logoutButton {
  background-color: white;
  color: black;
}


/* add shoes */

.admin-dashboard {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}


#homeButton {
  background-color: rgb(137, 234, 111);
  color: black;
  border: 1px solid black;
}


/* shoe block */

.shoe_content_container {
  display: flex;
  flex-wrap: wrap;
  
}

.shoe_item_container {
  flex: 0 0 calc(20% - 10px); /* Each box will take up approximately 20% of the container width, minus a little for margin */
  margin: 5px; /* Small margin around each box */
  box-sizing: border-box; /* Include border and padding in box's total width and height */
  
  padding: 10px; /* Some space between box content and the border */
  text-align: center; /* Center the text horizontally */
}

#shoe_image_container img {
  max-width: 100%; /* Make sure the image doesn't exceed the box size */
}

h3 {
  margin: 20px 0; /* Add some vertical spacing around the h3 elements */
  color: rgb(10, 10, 10);
font-size: 0.9rem;
}

p {
  margin: 5px 0; /* Add some vertical spacing around the p elements */
  color: rgb(108, 107, 107);
  font-size: 1.4rem;
}

.add_shoe_button {
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  border: 1px solid black;
}


.add_shoe_button:hover {
  background-color: rgb(233, 177, 75);
}

/* filter */

.hidden {
  display: none;
}


#filterArea {
  display: flex;
  margin: 1em auto 3em auto;
  max-width: 800px;
  justify-content: space-around;
}

.filter-box {
  border: solid 1px black;
  margin: 1em 0.5em;
  padding: 0.1em 2em;
  cursor: pointer;
  
}

.filter-box h3 {
  margin: 10px 0;
}

.filter-button {
  background-color: white;
  color: black;
  border: solid 1px black;
  border-radius: 0;
  margin-right: 0.5em;
  padding: 1.5em 2em;
  font-size: 1.1rem;
}


.filter-box li{
  list-style: none;

}

.filter-button:hover {
  background-color: rgb(245, 238, 230);
}

.filter-options {
  display: none
}

.filter-options.hidden {
  display: none;
}

.filter-options:not(.hidden) {
  display: flex;
  margin-right: 4em;

}


.show-outside {
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.active-filter {
  background-color: #ddcb95;
  color: white;
}

.cart_button {
  background-color: white;
  color: black;
}

.cart_button:hover {
  background-color: white;
}

.cart_container {
  margin-left: 2em;
}

.cart_item_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 110vh;
  overflow: scroll;
  margin-top: 2em;
}

.cart_modal {
  position: fixed;
  top: 0;
  right: -500px;
  width: 500px;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  transition: right 0.3s ease;
  z-index: 2;
}

.cart_modal.show {
  right: 0;
}


.checkout_button {
display: flex;
justify-content: center;
}

.cart_item {
  list-style: none;
  display: flex;
  margin-bottom: 2em;
  margin-top: 2em;
  justify-content: space-around;
}

.cart_header {
  text-align: left;
  margin-left: 1em;
}



.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.increment, .decrement, .item_quantity {
  background-color: white;
  color: black;
  border: solid rgb(208, 197, 197) 1px;
  padding: 0.5em;
  border-radius: 0;
}


.increment:hover, .decrement:hover, .item_quantity:hover {
  background-color: rgb(240, 240, 240);
}

.item_name {
  color: black;
  font-size: 1.2rem;
}

.cart_price {
  font-size: 1.2rem;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
  margin-left: 0.8em;
}

.cart_button_container {
  display: flex;
  justify-content: space-around;
  width: 80px;
  margin-top: 1em;
  margin-left: 2em;
}
