

/* header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px black solid;
}

.search_bar {
    padding: 1em 0.5em;
}

.logo_img {
    width: 200px;
}

.cart_img {
    width: 30px;
    height: 30px;
}

.cart_container {
    display: flex;
    align-items: center;
}

/* sign-login  */

/* Common styles for both buttons */
/* Common styles for both buttons */
/* Common styles for both buttons */
.auth_container button {
    font-size: 16px;
    padding: 12px 24px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    text-decoration: underline;  /* Underline text */
   
  }
  
  /* Specific styles for each button */
  #loginButton {
 
    color: rgb(43, 41, 41);
  }
  
  #signupButton {
  
    color: rgb(42, 42, 42);
  }
  
  /* Hover effects */
  .auth_container button:hover {
    box-shadow: 0px 4px 6px rgba(145, 145, 145, 0.2);  /* Darker box shadow */
    background-color: #ddd;
    color: black;
  }
  
  