

/* header */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px black solid;
}

.search_bar {
    padding: 1em 0.5em;
}

.logo_img {
    width: 200px;
}

.cart_img {
    width: 30px;
    height: 30px;
}

.cart_container {
    display: flex;
    align-items: center;
}

/* sign-login  */

.login_container {
    display: flex;
    align-items: center;
}


.auth_container button {
    font-size: 16px;
    padding: 0.5em 0.8em;
    margin-right: 0.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    text-decoration: underline;  /* Underline text */
   
  }
  
  /* Specific styles for each button */
  #loginButton {
    background-color: white;
    color: rgb(43, 41, 41);
  }
  
  #signupButton {
    background-color: white;
    color: rgb(42, 42, 42);
  }
  
  /* Hover effects */
  .auth_container button:hover {
    box-shadow: 0px 4px 6px rgba(145, 145, 145, 0.2);  /* Darker box shadow */
    background-color: #ddd;
    color: black;
  }
  
  

  /* signup */

  

/* Give the container a more unique look */
.signup-container {
  margin: 0 auto;
  width: 450px;
  background-color: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Style form groups */
.form-group {
  margin-bottom: 25px;
}

/* Style labels */
.form-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

/* Style input fields */
.form-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

/* Style the submit button */
button[type="submit"] {
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for the submit button */
button[type="submit"]:hover {
  background-color: #0056b3;
}